=f.label :name
%br
=f.text_field :name
%br
=f.label :description
%br
=f.text_area :description
%br 
=f.label :age
%br
=f.text_field :age
%br
=f.label :price
%br
=f.text_field :price
%br
=f.label :sold
%br
=f.check_box :sold
%br
=f.submit "Add"