=f.label :name
=f.text_field :name
%br
=f.label :description
=f.text_area :description
%br 
=f.label :age
=f.text_field :age
%br
=f.label :price
=f.text_field :price
%br
=f.label :sold
=f.check_box :sold
=f.submit "Add"